<div class="sidebar-image">
    <img src="{{ default "/image.jpeg" .Site.Params.sidebar_image }}" />
    <div class="sidebar-image-credit">{{ .Site.Params.sidebar_image_credit }}</div>
</div>

<div class="has-text-centered sidebar-text content">
    <h1>{{ .Site.Title }}</h1>
    <h4>{{ .Site.Params.sidebar_text }}</h4>

    <div class="socials">
        {{ range .Site.Params.socials }}
            <a href="{{ .url }}" target="_blank" rel="noopener">
                <i class="fab fa-{{ .icon }}"></i>
            </a>
        {{ end }}
    </div>
</div>
